# https://qiita.com/Hi-king/items/a8485557095692f1bf13
## .gitignore ##
# ignore all
*
/*

# allow
!.gitignore
!README.md
!install.sh

!bin/install_docker.sh

!tmux/.tmux.conf
!tmux/.config/tmux/*.sh

!vim/.vimrc
!vim/dein.toml

!zsh/.zsh_aliases
!zsh/.zshrc
!zsh/.config/zsh/tmux.zsh
